[submodule "fnlfmt"]
	path = fnlfmt
	url = https://git.sr.ht/~technomancy/fnlfmt
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim
	branch = 0.8
[submodule "pinned-nvim"]
	path = pinned-nvim
	url = https://github.com/neovim/neovim
